body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

header {
    background: #020617;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #38bdf8;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.banner {
    text-align: center;
    padding: 50px;
}

.banner h2 {
    font-size: 40px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 10px #38bdf8;
}

.card:hover {
    transform: scale(1.05);
}

input, textarea {
    width: 50%;
    padding: 10px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carrusel {
    width: 700px;
    max-width: 90%;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px #38bdf8;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background: #38bdf8;
}