body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

/* HEADER */
header {
    background: #020617;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #38bdf8;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* BANNER */
.banner {
    text-align: center;
    padding: 100px;
}

.banner h2 {
    font-size: 40px;
}

/* CARDS */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 10px #38bdf8;
}

.card:hover {
    transform: scale(1.05);
}

/* FORMULARIO */
input, textarea {
    width: 80%;
    padding: 10px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    cursor: pointer;
}